@{
    Layout = "";
}
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <p><b>@T("Plugins.Payments.TodoPago.Fields.RedirectionTip")</b></p>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <img src="https://todopago.com.ar/sites/todopago.com.ar/files/pluginstarjeta.jpg">
        </td>
    </tr>
</table>
